html {
  font-size: 125%;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}
h1 {
   color: #333;
}
section {
        background-color: white;
        padding: 20px;
        margin: 20px 0;
        border-radius: 8px;
        border: 1px solid #ddd;
        text-align: center;
}
section:hover {
  box-shadow: 0 0 10px gray;
  transition: 0.3s;
}
a {
  display: inline-block;
   color: white;
   padding: 8px 14px;
   background-color: #0066cc;
   border-radius: 4px;
   text-decoration: none;
   
}
a:hover {
   text-decoration: underline;
   background-color: #0b5ed7;
   transition: 0.3s;
}
p {
   color: #555;
}
header {
  text-align: center;
}
footer {
  text-align: center;
}
form {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style-position: inside;
  padding-left: 0;
  text-align: center;
}
button {
  background-color: #0066cc;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 10px 18px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}
button:hover {
  background-color: darkblue;
  transition: 0.5s
}
input,
textarea {
  font-size: 10px;
  padding: 5px;
}
input,
textarea {
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}
textarea {
  min-height: 80%;
}