body {
  font-family: Arial, Sans-Serif;
  background-color: #f5f5f5;
  margin: 0;
}
h1 {
   color: #333;
}
section {
        background-color: white;
        padding: 20px;
        margin: 20px 0;
        border-radius: 8px;
        border: 1px solid #ddd;
        text-align: center;
}
a {
  display: inline-block;
   color: white;
   padding: 8px 14px;
   background-color: #0066cc;
   border-radius: 4px;
   
   
}
a:hover {
   text-decoration: underline;
}
p {
   color: #555;
}
header {
  text-align: center;
}
footer {
  text-align: center;
}
form {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style-position: inside;
  padding-left: 0;
  text-align: center;
}
button {
  background-color: #0066cc;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}